*{
    margin: 0;
    padding: 0;
}

body{
    background: #f0f2f5;
}

.container{
    display: flex;
    margin: 20vh;
}


.Right{
    margin-top: 40px;
    width: 50vw;
}

.tagline{
    font: 28px Helvetica;
    margin: 0 25px;

}
img{
    height: 106px;
}

.form{
    width: 450px;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    /* align-items: center; */
    text-align: center;
}

form input{
    width: 86%;
    padding: 16px;
    border-radius: 6px;
    font-size: larger;
    border: 1px solid #ccc;
    margin-top: 13px;
}

form input::placeholder {
    color: rgb(167, 167, 167);
    font-weight: 300;
}

input[type=email]:focus, input[type=password]:focus{                      
    border-color: #1473ef;
}

input[type=submit]{
    width: 92%;                  
    background: #1473ef;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

hr{
    margin: 10px 0 10px 0;
}

form a {
    margin-top: 20px;
    text-decoration: none;
    color: #1b4cfd;
}

form a:hover {
    text-decoration: underline;
}

form .new {
    /* align-items: center ; */
    /* margin-top: 18px; */
    margin: 18px auto 0px auto;
    padding-top: 7px;
    width: fit-content;
    font: 17px Helvetica;
    background: #45c12c;
    color: white;
    padding: 17px 20px;
    border-radius: 7px;
}

form .new:hover {
    background-color: #39aa22;
    cursor: pointer;
}

.Left .ad{
    margin: 20px 70px;
}

.Left .ad a{
    text-decoration: none;
    color: black;
}

.bottom{
    background: white;
    padding: 20px 10vw;
}

.bottom a, .CopyRight{
    text-decoration: none;
    color: #7b7a7a;
    font-size: 14px;
    margin: 2px 5px 2px 0px;
}

.bottom a:hover{
    text-decoration: underline;
}

.CopyRight{
    padding: 15px 0px;
}